$bluesky: #5c94fc;

$green: #92cd41;
$medium-green: #76c442;
$dark-green: #4aa52e;

$red: #e76e55;
$medium-red: #ce372b;
$dark-red: #8c2022;

$yellow: #f7d51d;
$medium-yellow: #f2c409;
$dark-yellow: #e59400;

$grey: #d9d9d9;
