@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "_variables.scss";

//// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Press Start 2P";
}
html {
  overflow: hidden;
}
body {
  overflow: hidden;
  background-color: $bluesky;
  color: white;
}
a {
  color: inherit;
  text-decoration: underline;
}
button {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input {
  border: none;
  &:focus-visible {
    outline: none;
  }
}

//// General

// texts
h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 25px;
}
h5 {
  font-size: 18px;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
}

//// Spacing / Margins

.container {
  width: 100%;
  max-width: 1224px;
  margin-inline: auto;
  padding-inline: 12px;
}
.container-big {
  max-width: 1200px;
}

.mi-auto {
  margin-inline: auto;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}

//// Displays

.d-block {
  display: block;
}
.d-none {
  display: none;
}

// buttons

.button {
  background-color: $green;
  color: white;
  box-shadow: inset -3px -3px 0px 0px $dark-green;
  padding: 12px;
  font-size: 14px;

  &:hover {
    background-color: $medium-green;
    box-shadow: inset -6px -6px 0px 0px $dark-green;
  }

  &.red-button {
    background-color: $red;
    box-shadow: inset -3px -3px 0px 0px $dark-red;
    &:hover {
      background-color: $medium-red;
      box-shadow: inset -6px -6px 0px 0px $dark-red;
    }
  }

  &.tiny-button {
    padding: 8px;
    font-size: 12px;
    box-shadow: inset -2px -2px 0px 0px $dark-green;

    &:hover.tiny-button {
      box-shadow: inset -4px -4px 0px 0px $dark-green;
    }
  }
}

// borders

.button,
.input,
.text-block,
.item-list {
  position: relative;
  width: fit-content;

  &::after,
  &::before {
    background-color: black;
    display: block;
    position: absolute;
    content: "";
  }
  &::before {
    width: calc(100% + 8px);
    height: 100%;
    top: 0;
    left: -4px;
    z-index: -1;
  }
  &::after {
    width: 100%;
    height: calc(100% + 8px);
    top: -4px;
    left: 0;
    z-index: -1;
  }
}

// shadows

h1,
h2 {
  text-shadow: 0px 4px 0px #000000;
}
h3,
h4,
p {
  text-shadow: 0px 2px 0px #000000;
}

// blocks

.allow-scroll {
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: black;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
}
.text-block {
  background-color: $grey;
  color: black;
  width: 100%;
  padding: 15px;
}

// form

label {
  display: block;
}
input {
  background-color: $grey;
  padding: 10px 15px;
  font-size: 16px;
  max-width: 250px;
}

// item-list

.item-list {
  padding: 15px;
  background-color: $grey;
  color: black;
  width: 100%;
  max-width: 400px;

  a {
    font-size: 14px;
  }
  .button {
    border: 2px solid black;
    &:after {
      z-index: -1;
    }
  }
}

///// Menu

.burger-menu {
  position: fixed;
  bottom: 25px;
  width: 100%;
  height: 58px;
  background-color: #d43000;
  background-image: url("/src/assets/brick.png");
  background-size: 57px 58px;
  background-repeat: repeat;
  background-position: left bottom;

  nav {
    opacity: 0;
    position: absolute;
    z-index: -100;
    top: 25px;
    height: calc(100vh - 107px);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    a {
      display: block;
      text-decoration: none;
      font-size: 21px;

      &.active {
        text-decoration: underline;
      }
    }
  }

  &.active {
    height: calc(100vh - 25px);

    nav {
      opacity: 1;
      z-index: 100;
      transition: all 0.1s ease-in-out 0.2s;
    }
  }
  &,
  &.active {
    transition: height 0.2s linear;
  }

  .burger-button {
    position: fixed;
    left: 16px;
    bottom: 25px;
    width: 57px;
    height: 58px;
    background-image: url("/src/assets/question-block.png");
    background-size: contain;

    &:after {
      content: "Menu";
      display: block;
      position: absolute;
      top: calc(100% + 5px);
      left: 2px;
      color: white;
    }

    &.active {
      background-image: url("/src/assets/cross-block.png");

      &:after {
        content: "Fermer";
      }
    }
  }
}

//// Pages

// Home

//// Responsive

@media screen and (min-width: 767px) {
  .burger-menu {
    &.active {
      height: 174px;
    }

    nav {
      top: 0;
      left: 74px;
      height: 100%;
      width: calc(100% - 148px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-inline: auto;
      gap: 40px;

      a {
        font-size: 16px;
      }
    }
  }
}
