@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Press Start 2P";
}

body {
  overflow: hidden;
  background-color: #5c94fc;
  color: white;
  min-width: 400px;
}

a {
  color: inherit;
  text-decoration: underline;
}

button {
  display: block;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

input {
  border: none;
}
input:focus-visible {
  outline: none;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-block: 25px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin-inline: auto;
  padding-inline: 12px;
}

.container-big {
  max-width: 1200px;
}

.slider-container .slider-wrapper {
  display: flex;
  width: 200vw;
}
.slider-container .slider-item {
  width: 100vw;
  transition: transform 0.3s;
}
.slider-container.left-active .slider-item:last-child {
  transform: translateX(100%);
}
.slider-container.right-active .slider-item:first-child {
  transform: translateX(-100%);
}
.slider-container.right-active .slider-item:last-child {
  transform: translateX(-100%);
}

.mi-auto {
  margin-inline: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-flex-row {
  flex-direction: row;
}

.d-flex-column {
  flex-direction: column;
}

.pos-r {
  position: relative;
}

.button,
.switch-button {
  background-color: #92cd41;
  color: white;
  box-shadow: inset -3px -3px 0px 0px #4aa52e;
  padding: 12px;
  font-size: 14px;
}
.button:hover,
.switch-button:hover {
  background-color: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.button.red-button,
.switch-button.red-button {
  background-color: #e76e55;
  box-shadow: inset -3px -3px 0px 0px #8c2022;
}
.button.red-button:hover,
.switch-button.red-button:hover {
  background-color: #ce372b;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
}
.button.yellow-button,
.switch-button.yellow-button {
  background-color: #f7d51d;
  box-shadow: inset -3px -3px 0px 0px #e59400;
}
.button.yellow-button:hover,
.switch-button.yellow-button:hover {
  background-color: #f2c409;
  box-shadow: inset -6px -6px 0px 0px #e59400;
}
.button.tiny-button,
.switch-button.tiny-button {
  padding: 8px;
  font-size: 11px;
  box-shadow: inset -2px -2px 0px 0px #4aa52e;
}
.button.tiny-button:hover.tiny-button,
.switch-button.tiny-button:hover.tiny-button {
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.button.tiny-button.red-button.tiny-button,
.switch-button.tiny-button.red-button.tiny-button {
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}

.switch-button {
  position: relative;
  color: inherit;
  margin-inline: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  height: 38px;
  width: 180px !important;
}
.switch-button a {
  position: absolute;
  top: 12px;
  text-decoration: none;
}
.switch-button a:first-child {
  left: 50px;
}
.switch-button a:nth-child(2) {
  opacity: 0;
  right: 50px;
  text-align: right;
}
.switch-button div {
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  height: 28px;
  aspect-ratio: 5/4;
  background-image: url("/src/assets/switch.png");
  background-size: contain;
}
.switch-button.active div {
  left: calc(100% - 40px);
}
.switch-button.active a:first-child {
  margin-left: 40px;
  opacity: 0;
}
.switch-button.active a:nth-child(2) {
  opacity: 1;
}
.switch-button div,
.switch-button.active div {
  transition: all 0.15s;
}

.button,
.input,
.text-block,
.item-list,
.switch-button,
.bg-text-block {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.button::after,
.button::before,
.input::after,
.input::before,
.text-block::after,
.text-block::before,
.item-list::after,
.item-list::before,
.switch-button::after,
.switch-button::before,
.bg-text-block::after,
.bg-text-block::before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  border: 0 solid black;
}
.button::before,
.input::before,
.text-block::before,
.item-list::before,
.switch-button::before,
.bg-text-block::before {
  border-top-width: 4px;
  border-bottom-width: 4px;
  top: -4px;
}
.button::after,
.input::after,
.text-block::after,
.item-list::after,
.switch-button::after,
.bg-text-block::after {
  border-left-width: 4px;
  border-right-width: 4px;
  left: -4px;
}

.item-list h1,
.item-list h2,
.item-list h3,
.item-list h4,
.item-list h5,
.item-list h6,
.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4,
.text-block h5,
.text-block h6,
.bg-text-block h1,
.bg-text-block h2,
.bg-text-block h3,
.bg-text-block h4,
.bg-text-block h5,
.bg-text-block h6 {
  text-shadow: none;
}
.item-list .button:after,
.item-list .button:before,
.text-block .button:after,
.text-block .button:before,
.bg-text-block .button:after,
.bg-text-block .button:before {
  z-index: 1;
}
.item-list p,
.text-block p,
.bg-text-block p {
  text-shadow: none;
}

h1,
h2 {
  text-shadow: 0px 4px 0px #000000;
}

h3,
h4,
p {
  text-shadow: 0px 2px 0px #000000;
}

.text-block,
.bg-text-block {
  background-color: #d9d9d9;
  color: black;
  width: 100%;
  padding: 15px;
}

.allow-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  max-height: calc(100vh - 190px);
  padding: 4px;
}
.allow-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.allow-scroll::-webkit-scrollbar-thumb {
  background-color: black;
}
.allow-scroll::-webkit-scrollbar-track {
  background-color: white;
}
.allow-scroll.tiny-allow-scroll {
  max-height: calc(100vh - 300px);
}
.allow-scroll.minus-allow-scroll {
  max-height: calc(100vh - 350px);
}
.allow-scroll .bg-text-block {
  width: calc(100% - 12px);
}

label {
  display: block;
}

input {
  background-color: #d9d9d9;
  padding: 10px 15px;
  font-size: 16px;
  max-width: 250px;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 6px;
}

.item-list {
  padding: 15px;
  background-color: #d9d9d9;
  color: black;
  width: 100%;
  max-width: 400px;
}
.item-list.has-img {
  display: flex;
}
.item-list .item-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: auto;
}
.item-list img {
  width: 140px;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  float: left;
  margin-right: 16px;
}
.item-list a,
.item-list p {
  font-size: 13px;
  text-shadow: none;
}
.item-list .button:after,
.item-list .button:before {
  z-index: 1;
}
.item-list .button:before {
  border-top-width: 3px;
  border-bottom-width: 3px;
  top: -3px;
}
.item-list .button:after {
  border-left-width: 3px;
  border-right-width: 3px;
  left: -3px;
}

.burger-menu {
  position: fixed;
  bottom: 25px;
  width: 100%;
  height: 58px;
  background-color: #d43000;
  background-image: url("/src/assets/brick.png");
  background-size: 57px 58px;
  background-repeat: repeat;
  background-position: left bottom;
  z-index: 1;
}
.burger-menu nav {
  opacity: 0;
  position: absolute;
  z-index: -100;
  top: 25px;
  height: calc(100vh - 107px);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}
.burger-menu nav a {
  display: block;
  text-decoration: none;
  font-size: 21px;
}
.burger-menu nav a.active {
  text-decoration: underline;
}
.burger-menu.active {
  height: calc(100vh - 25px);
}
.burger-menu.active nav {
  opacity: 1;
  z-index: 100;
  transition: all 0.1s ease-in-out 0.2s;
}
.burger-menu,
.burger-menu.active {
  transition: height 0.2s linear;
}
.burger-menu .burger-button {
  position: fixed;
  left: 16px;
  bottom: 25px;
  width: 57px;
  height: 58px;
  background-image: url("/src/assets/question-block.png");
  background-size: contain;
}
.burger-menu .burger-button:after {
  content: "Menu";
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  left: 2px;
  color: white;
}
.burger-menu .burger-button.active {
  background-image: url("/src/assets/cross-block.png");
}
.burger-menu .burger-button.active:after {
  content: "Fermer";
}

.exclamation-button {
  position: fixed;
  right: 16px;
  bottom: 25px;
  width: 57px;
  height: 58px;
  background-image: url("/src/assets/exclamation-block.png");
  background-size: contain;
}
.exclamation-button:after {
  content: "Signaler";
  display: block;
  position: absolute;
  top: calc(100% + 5px);
  right: 2px;
  color: white;
}

.block {
  height: 57px;
  width: 58px;
}

.admin-buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px 0;
  color: white;
}
.admin-buttons .block-button {
  text-align: center;
  width: 50%;
}
.admin-buttons .button-name {
  color: white;
}

.admin-item-list {
  display: flex;
  flex-direction: column;
}
.admin-item-list .admin-item {
  width: 100%;
  padding: 20px;
  border-bottom: 4px solid black;
}
.admin-item-list .admin-item:last-of-type {
  border-bottom-width: 0px;
}
.admin-item-list .admin-item p {
  line-height: 30px;
}
.admin-item-list .admin-item img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.admin-item-list .admin-item .has-two-items {
  display: flex;
}
.admin-item-list .admin-item .has-two-items .admin-item-child {
  text-align: center;
  max-width: 50%;
  padding: 25px 12px 0;
}
.admin-item-list .admin-item.d-flex-column .admin-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.admin-item-list .admin-button-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.admin-item-list .admin-button-container button {
  max-width: 150px;
  text-align: center;
}

.admin-streetarts img {
  max-width: 767px;
}

.ranking-page p span {
  width: 190px;
}

label {
  text-shadow: 0px 2px 0px #000000;
  font-size: 1rem;
  line-height: 1.5rem;
}

.score img {
  width: 22px;
}

@media screen and (max-width: 766px) {
  .admin-page .allow-scroll.tiny-allow-scroll {
    max-height: calc(100vh - 410px);
  }
}
@media screen and (min-width: 767px) {
  .burger-menu.active {
    height: 174px;
  }
  .burger-menu nav {
    top: 0;
    left: 74px;
    height: 100%;
    width: calc(100% - 148px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  .burger-menu nav a {
    font-size: 16px;
  }
  .admin-buttons .block-button {
    width: 25%;
  }
  .admin-users .admin-item,
  .admin-streetarts .admin-item,
  .admin-artists .admin-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .admin-users .admin-item .admin-item-infos,
  .admin-streetarts .admin-item .admin-item-infos,
  .admin-artists .admin-item .admin-item-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .admin-users .admin-item .admin-item-infos p,
  .admin-streetarts .admin-item .admin-item-infos p,
  .admin-artists .admin-item .admin-item-infos p {
    width: 50%;
  }
  .admin-users .admin-item .admin-item-infos img,
  .admin-streetarts .admin-item .admin-item-infos img,
  .admin-artists .admin-item .admin-item-infos img {
    margin-bottom: 0;
    max-width: 45%;
  }
  .admin-users .admin-item .admin-button-container,
  .admin-streetarts .admin-item .admin-button-container,
  .admin-artists .admin-item .admin-button-container {
    margin-top: 0;
    flex-direction: column;
    gap: 25px;
  }
  .admin-users .admin-item .admin-button-container button,
  .admin-streetarts .admin-item .admin-button-container button,
  .admin-artists .admin-item .admin-button-container button {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .validation-item {
    flex-direction: column;
    align-items: center;
  }
  .validation-item .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .validation-item .base-container,
  .validation-item .user-container {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }
  .validation-item .base-container img,
  .validation-item .user-container img {
    width: 100px;
    height: auto;
  }
  .validation-item .button-container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
} /*# sourceMappingURL=main.css.map */
